.read-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.123);

    .buttons{
        display: flex;
        flex-direction: row;
        width: 490px;
        justify-content: space-evenly;

    }
}